<div class="root">
  <div class="header">
    <div class="btn">
      <button (click)="leftClick()">＜＜</button>
    </div>
    <div class="title">{{getTitle()}}</div>
    <div class="btn">
      <button (click)="rightClick()">＞＞</button>
    </div>
  </div>

  <div class="schedule">
    <ng-container *ngFor="let day of state.dateList">
      <div class="box" [ngClass]="boxClass(day.day)">　
        <span class="day">{{getDay(day.day)}}</span>
     
      </div>
    </ng-container> 
  </div>
</div>
